.App{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1%;
}
.cargando{
  text-align: center;
}

.divpilotos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pilotosusuario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .desactivado{
  background-color: grey;
}

.activado {
  background-color: yellow;
} */