.App{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1%;
}
.cargando{
  text-align: center;
}

.divpilotos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pilotosusuario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 1;
}

.contenedorinfopiloto{
  display: none;
  z-index: 100;
  position: sticky;
  top: 252px;
  background-color: rgb(146, 195, 255);
  border-radius: 20px;
  padding: 10px;
  width: 50%;
}

.ocultar{
  display: flex;
  justify-content: flex-end;
  padding: 3px;;
}

.ocultar:hover{
  cursor: pointer;
}

.divdatosusuario{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.datosusuario{
  display: flex;
}

span {
  color: rgb(0, 51, 255);
}

.divbotones {
  display: flex;
  justify-content: space-around;
}